.mainContainer {
  width: 40vw;
  height: 40vw;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #262626;
  border-radius: 1rem;
}

.btn {
  background-color: #0095f6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 485px;
  border-radius: 0.5rem;
  height: 40px;
}

/* .btn:hover {
  cursor: pointer;
} */

.descriptionInput {
  width: 485px;
  border: solid 1px #262626;
  height: 2rem;
  text-align: center;
}
