.reelsContainer {
  position: relative;
  width: 30rem;
}

.muteUnmute {
  background-color: yellowgreen;
  z-index: 100;
  width: 5rem;
  height: 5rem;
  top: -10rem;
  right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
